name: warikan_photo
description: Warikan photo project.

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=2.17.3 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  cupertino_icons: ^1.0.2
  intl: ^0.17.0
  firebase_core: ^1.18.0
  firebase_auth: ^3.4.1
  cloud_firestore: ^3.2.1
  cloud_functions: ^3.3.1
  firebase_storage: ^10.3.1
  flutterfire_ui: ^0.4.2+2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
